body {
    font-family: "Roboto";
    color: White; 
    background-image: url("https://github.com/realbxnnie/realbxnnie.github.io/raw/main/fnaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,1);
  }

  @keyframes anim {
    from {opacity: 0; filter: blur(8px)};
    to {opacity: 1; filter: blur(0px)}
  }

  @keyframes animIMG {
    from {opacity: 0; filter:blur(8px);}
    to {opacity: 1}
  }

  #mainframe {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    box-shadow: 0 0 10px 10px rgba(133, 0, 234, 0.2);
    color: white;
    border-radius: 8px;
    filter: blur(0px);
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    animation-name: anim;
    animation-duration: 2s;
    transition: 0.3s;
  }

  #settings {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    box-shadow: 0 0 10px 10px rgba(133, 0, 234, 0.2);
    color: white;
    border-radius: 8px;
    filter: blur(0px);
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
    padding: 20px;
    text-align: center;
    animation-name: anim;
    animation-duration: 2s;
    transition: 0.3s;
  }

  #mainbutton  {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7);
    box-shadow: 0 0 10px 10px rgba(133, 0, 234, 0.2);
    color: white;
    border-radius: 8px;
    filter: blur(0px);
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    animation-name: anim;
    animation-duration: 2s
  }

  a {
    color: rgb(133, 0, 234);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(255,255,255, 0.2);
  }

  hr {
    width: 50%;
  }

  b {
    font-weight: bold;
    text-shadow: 3px 3px 3px rgba(255,255,255, 0.2);
  }

  img {
    animation-name: animIMG;
    animation-duration: 2s;
  }
  button {
    background-color: rgb(133, 0, 234);
    border-radius: 4px;
    padding-left: 5px; 
    padding-right: 5px; 
    border: none;
    box-shadow: 3px 3px 5px rgba(79, 0, 140, 0.5);
    color: white;
    opacity: 1;
    transition: 0.2s;
    padding: 5px 10px;
    animation-name: anim;
    animation-duration: 2s;
    font-family: "Roboto"
  }
  button:hover {cursor:pointer;}
  button:active {font-size:11px;}

  .empty {
    border:none
  }

  .page {
    text-align: center;
  }

  
